<div layout="row">
  <div flex="80">
    <md-card>
      <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
        <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
          <span class="md-title">Animals</span>
        </span>
        <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
        </td-search-box>
      </div>
      <md-divider></md-divider>
      <td-data-table
      #dataTable
      class="text-caps"
      [data]="filteredData"
      [columns]="columns"
      [sortable]="true"
      [sortBy]="sortBy"
      [sortOrder]="sortOrder"
      (sortChange)="sort($event)">
      <ng-template tdDataTableTemplate="name" let-value="value" let-row="row" let-column="column">
        <div layout="row" layout-align="center center">
          <button md-icon-button color="accent" (click)="showAnimalDetails(row)"><md-icon>pets</md-icon></button>
          <span flex>{{value}}</span>
        </div>
      </ng-template>
      </td-data-table>
      <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
        <h3>No results to display.</h3>
      </div>
      <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
        <span td-paging-bar-label hide-xs>Row per page:</span>
        {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
      </td-paging-bar>
    </md-card>
  </div>
  <div flex="20">
    <md-card>
      <h3 class="subhead text-center pad-sm">Number of Animals by Category</h3>
      <md-divider></md-divider>
      <td-expansion-panel #dietPanel>
        <ng-template td-expansion-panel-header>
          <div layout="row" layout-align="space-between center" class="pad-left-sm pad-right-sm bgc-blue-grey-500">
            <p class="md-title">Diet</p>
            <md-icon *ngIf="!dietPanel.expand">expand_more</md-icon>
            <md-icon *ngIf="dietPanel.expand">expand_less</md-icon>
          </div>
        </ng-template>
        <md-list>
          <md-list-item *ngFor="let diet of diets" layout="row" layout-align="spece-between">
            <span flex class="text-caps md-body-2">{{diet}}:</span>
            <span flex class="text-right md-body-2">{{animals | diet:diet}}</span>
          </md-list-item>
        </md-list>
      </td-expansion-panel>
      <td-expansion-panel #locationPanel>
        <ng-template td-expansion-panel-header>
          <div layout="row" layout-align="space-between center" class="pad-left-sm pad-right-sm bgc-blue-grey-500">
            <p class="md-title">Location</p>
            <md-icon *ngIf="!locationPanel.expand">expand_more</md-icon>
            <md-icon *ngIf="locationPanel.expand">expand_less</md-icon>
          </div>
        </ng-template>
        <md-list>
          <md-list-item *ngFor="let location of locations" layout="row" layout-align="spece-between">
            <span flex class="text-caps md-body-2">{{location}}:</span>
            <span flex class="text-right md-body-2">{{animals | location:location}}</span>
          </md-list-item>
        </md-list>
      </td-expansion-panel>
      <td-expansion-panel #speciesPanel>
        <ng-template td-expansion-panel-header>
          <div layout="row" layout-align="space-between center" class="pad-left-sm pad-right-sm bgc-blue-grey-500">
            <p class="md-title">Species</p>
            <md-icon *ngIf="!speciesPanel.expand">expand_more</md-icon>
            <md-icon *ngIf="speciesPanel.expand">expand_less</md-icon>
          </div>
        </ng-template>
        <md-list>
          <md-list-item *ngFor="let eachSpecies of species" layout="row" layout-align="spece-between">
            <span flex class="text-caps md-body-2">{{eachSpecies}}:</span>
            <span flex class="text-right md-body-2">{{animals | species:eachSpecies}}</span>
          </md-list-item>
        </md-list>
      </td-expansion-panel>
      <md-list>
        <md-list-item layout="row">
          <span flex>Total Number of Animals:</span>
          <span class="text-right">{{animals.length}}</span>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>

<div layout="row" layout-align="center">
  <div flex [tdToggle]="showDetails">
    <div *ngIf="selectedAnimal">
      <app-animal-detail [animal]="selectedAnimal" (closeDetailsSender)="closeDetails()"></app-animal-detail>
    </div>
  </div>
</div>
