<md-card>
  <md-card-title>{{animal.name}}</md-card-title>
  <md-card-subtitle>{{animal.species}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <p>Standard card with content</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" class="text-upper">Action</button>
    <button md-button class="text-upper">Cancel</button>
  </md-card-actions>
</md-card>
