<md-card>
  <md-card-title>
    <div layout="row" layout-align="space-between">
      <span class="text-caps">{{animal.name}}</span>
      <button md-icon-button (click)="closeDetails()">
        <md-icon>close</md-icon>
      </button>
    </div>
  </md-card-title>
  <md-card-subtitle class="text-caps">{{animal.species}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div layout-md="column" layout-gt-sm="row" layout-align-md="center stretch" layout-align-gt-sm="center center">
      <div flex-gt-sm="50" flex-md="100">
        <div layout="row" layout-align="center center" layout-margin>
          <img [src]="animal.img" alt="An image of a {{animal.species}} named {{animal.name}}">

        </div>
      </div>
      <div flex-gt-sm="50" flex-md="100">
        <div layout="row" layout-align="center center">
          <md-chip-list flex="70" class="mat-chip-list-stacked">
            <md-chip color="primary" selected="true">
              <div layout="row" layout-align="space-between">
                <span class="text-right" flex="20">Sex</span>
                <span class="text-center" flex="5">:</span>
                <span class="text-left text-caps" flex>{{animal.sex}}</span>
              </div>
            </md-chip>
            <md-chip color="primary" selected="true">
              <div layout="row" layout-align="space-between">
                <span class="text-right" flex="20">Age</span>
                <span class="text-center" flex="5">:</span>
                <span class="text-left text-caps" flex>{{animal.age}}</span>
              </div>
            </md-chip>
            <md-chip color="primary" selected="true">
              <div layout="row" layout-align="space-between">
                <span class="text-right" flex="20">Caretakers</span>
                <span class="text-center" flex="5">:</span>
                <span class="text-left text-caps" flex>{{animal.caretaker}}</span>
              </div>
            </md-chip>
            <md-chip color="primary" selected="true">
              <div layout="row" layout-align="space-between">
                <span class="text-right" flex="20">Diet</span>
                <span class="text-center" flex="5">:</span>
                <span class="text-left text-caps" flex>{{animal.diet}}</span>
              </div>
            </md-chip>
            <md-chip color="primary" selected="true">
              <div layout="row" layout-align="space-between">
                <span class="text-right" flex="20">Species</span>
                <span class="text-center" flex="5">:</span>
                <span class="text-left text-caps" flex>{{animal.species}}</span>
              </div>
            </md-chip>
            <md-chip color="primary" selected="true">
              <div layout="row" layout-align="space-between">
                <span class="text-right" flex="20">Location</span>
                <span class="text-center" flex="5">:</span>
                <span class="text-left text-caps" flex>{{animal.location}}</span>
              </div>
            </md-chip>
            <md-chip color="primary" selected="true">
              <div layout="row" layout-align="space-between">
                <span class="text-right" flex="20">Likes</span>
                <span class="text-center" flex="5">:</span>
                <span class="text-left text-caps" flex>{{animal.likes}}</span>
              </div>
            </md-chip>
            <md-chip color="primary" selected="true">
              <div layout="row" layout-align="space-between" layout-fill>
                <span class="text-right" flex="20">Dislikes</span>
                <span class="text-center" flex="5">:</span>
                <span class="text-left text-caps" flex>{{animal.dislikes}}</span>
              </div>
            </md-chip>
          </md-chip-list>
        </div>
      </div>
      <!-- <div flex></div> -->
    </div>
  </md-card-content>
  <td-expansion-panel>
    <ng-template td-expansion-panel-label>
      Edit {{animal.name}}
    </ng-template>

    <h4 class="text-caps">{{animal.name}}</h4>
    <div layout="row">
      <!-- Edit component -->
    </div>
  </td-expansion-panel>
</md-card>
