<md-card>
  <md-card-title>
    <div layout="row" layout-align="space-between">
      <span>Add an Animal</span>
      <a md-icon-button routerLink="">
        <md-icon>close</md-icon>
      </a>
    </div>
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <form [formGroup]="animalForm" novalidate>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="Name" formControlName="name">
        </md-input-container>

        <md-input-container flex>
          <input type="text" mdInput [mdAutocomplete]="autoSpecies" placeholder="Species" formControlName="species">
        </md-input-container>
        <md-autocomplete #autoSpecies="mdAutocomplete">
          <md-option *ngFor="let option of filteredSpecies | async" [value]="option">
            {{option}}
          </md-option>
        </md-autocomplete>

      </div>
      <div layout="row" layout-margin layout-align="space-between center">
        <md-select flex="30" placeholder="Diet" formControlName="diet">
          <md-option *ngFor="let diet of diets" class="text-caps" [value]="diet">{{diet}}</md-option>
        </md-select>
        <md-select flex="30" placeholder="Sex" formControlName="sex">
          <md-option value="Male">Male</md-option>
          <md-option value="Female">Female</md-option>
        </md-select>
        <md-select flex="30" placeholder="Location" formControlName="location">
          <md-option *ngFor="let location of locations" class="text-caps" [value]="location">{{location}}</md-option>
        </md-select>
      </div>
      <div layout="row" layout-margin layout-padding layout-align="space-between center" layout-wrap>
        <md-input-container class="number-input-size" flex-gt-lg="15" flex-gt-xs="45">
          <input mdInput placeholder="Age" type="number" formControlName="age">
        </md-input-container>
        <md-input-container class="number-input-size" flex-gt-lg="15" flex-gt-xs="45">
          <input mdInput placeholder="Number of Caretakers" type="number" formControlName="caretaker">
        </md-input-container>
        <md-input-container flex-gt-lg="30" flex-gt-xs="45">
          <input mdInput placeholder="Likes" formControlName="likes">
        </md-input-container>
        <md-input-container flex-gt-lg="30" flex-gt-xs="45">
          <input mdInput placeholder="Dislikes" formControlName="dislikes">
        </md-input-container>
      </div>
      <div layout="row" layout-margin layout-align="space-between center">
        <md-input-container flex>
          <input mdInput placeholder="Image URL" formControlName="img">
        </md-input-container>
      </div>
    </form>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <div layout="row" layout-margin layout-align="center">
      <button flex='70' md-raised-button color="accent" class="text-upper" (click)="addAnimal()">Add Animal</button>
    </div>
  </md-card-actions>
</md-card>
