<!-- <td-layout-nav toolbarTitle="Zoo Tracker" icon="menu" color="primary">
  <div td-toolbar-content>
    <md-nav-list>
      <button md-list-item (click)="toggleNewAnimal()">
        <md-icon>settings</md-icon>
        <span>Add an Animal</span>
      </button>
    </md-nav-list>
  </div>

  <div layout="row" layout-align="center">
    <div flex="80" [tdToggle]="showNewAnimal">
      <app-animal-new (closeFormSender)="toggleNewAnimal()"></app-animal-new>
    </div>
  </div>

  <div layout="row" layout-align="center">
    <div flex="90">
      <app-animal-list (animalDetailSender)="showAnimalDetails($event)"></app-animal-list>
    </div>
  </div>


  <div layout="row" layout-align="center">
    <div flex="90" [tdToggle]="showDetails">
      <div *ngIf="selectedAnimal">
        <app-animal-detail [animal]="selectedAnimal" (closeDetailsSender)="closeDetails()"></app-animal-detail>
      </div>
    </div>
  </div>


  <td-layout-footer>
    footer
  </td-layout-footer>
</td-layout-nav> -->



<md-toolbar color="primary">
  <button md-icon-button [mdMenuTriggerFor]="navMenu">
    <md-icon>menu</md-icon>
  </button>
  <md-menu #navMenu="mdMenu">
    <button md-menu-item (click)="toggleNewAnimal()">
      <md-icon>settings</md-icon>
      <span>Add an Animal</span>
    </button>
  </md-menu>
  <span>Zoo Tracker</span>
  <span flex></span>
</md-toolbar>

<div layout="row" layout-align="center">
  <div flex="80" [tdToggle]="showNewAnimal">
    <app-animal-new (closeFormSender)="toggleNewAnimal()"></app-animal-new>
  </div>
</div>

<div layout="row" layout-align="center">
  <div flex="90">
    <app-animal-list (animalDetailSender)="showAnimalDetails($event)"></app-animal-list>
  </div>
</div>


<div layout="row" layout-align="center">
  <div flex="90" [tdToggle]="showDetails">
    <div *ngIf="selectedAnimal">
      <app-animal-detail [animal]="selectedAnimal" (closeDetailsSender)="closeDetails()"></app-animal-detail>
    </div>
  </div>
</div>
